<div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary" style="width: 30%;">
    <div href="/"
        class="d-flex align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom"
        id="scroller-title-container">

        <img class="bi pe-none me-2" width="30" height="24" src="files/coffeepot.svg">
        <span class="fs-5 fw-semibold">Experiments</span>
    </div>
    <div id="exp-scroll-list" class="list-group list-group-flush border-bottom scrollarea">
    </div>
</div>